/*#region SciReg Mobile Text Adjustment */
html .collapse
{
    -webkit-text-size-adjust: 80%;
    -ms-text-size-adjust: 80%;
    -moz-text-size-adjust: 80%;
}
/*#endregion*/

/* SciReg Basic Low Level Styles */
/*#region SciReg Low Level Styles*/
body { 
    background-color: #d6d6d6; /* Custom Background Colour */
    background-image: url("/common/images/framework/footerBg.jpg"); /* Custom Background Colour And Fade */
    background-position:bottom center;
    background-repeat:no-repeat;
    background-position-y: bottom;
    background-size:1px;
    min-width:993px;
    width:100%;
    color:#333333;
}

/*#IPAD adjustment to make the sky scraper appear*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
{
 body { width:1024px; }
}

#main {
    min-height: 517px;
}

.hide
{
    display: none;
}

.show
{
    display: block;
}

.bold {
    font-weight: bold !important;
}

.left
{
    text-align: left !important;
    margin: 0 auto;
}

.center
{
    text-align: center !important;
    margin: 0 auto;
}

.right
{
    text-align: right !important;
    margin: 0 auto;
}

.floatLeft
{
    float: left !important;
}

.floatRight
{
    float: right !important;
}

.floatNone
{
    float: none !important;
}

.clearLeft
{
    clear: left !important;
}

.clearRight
{
    clear: right !important;
}

.clearBoth
{
    clear: both !important;
}

.preLoad
{
    visibility: hidden;
}

.pointer { cursor: pointer; }

.wrapUrls, .wrapChildUrls a {
    s-word-break: break-all;
    -ms-word-wrap: break-word;

    /* Non standard for webkit */
    word-break: break-word;

    word-break: break-all;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.smallText, a.smallText     { font-size: 10px !important; color: gray !important; }
a.smallText                 { text-decoration:none; }

.paddingTop5 { padding-top: 5px !important; }
.paddingTop10 { padding-top: 10px !important; }
.paddingTop15 { padding-top: 15px !important; }
.paddingTop20 { padding-top: 20px !important; }

.paddingLeft5 { padding-left: 5px !important; }
.paddingLeft10 { padding-left: 10px !important; }
.paddingLeft15 { padding-left: 15px !important; }
.paddingLeft20 { padding-left: 20px !important; }

.paddingBottom5 { padding-bottom: 5px !important; }
.paddingBottom10 { padding-bottom: 10px !important; }
.paddingBottom15 { padding-bottom: 15px !important; }
.paddingBottom20 { padding-bottom: 20px !important; }

.paddingRight5 { padding-right: 5px !important; }
.paddingRight10 { padding-right: 10px !important; }
.paddingRight15 { padding-right: 15px !important; }
.paddingRight20 { padding-right: 20px !important; }

.collapse
{
    padding:0px !important;
    margin:0px !important;
}

.marginTopBottom5 { margin-top: 5px !important; margin-bottom: 5px !important; }
.marginTopBottom10 { margin-top: 10px !important; margin-bottom: 10px !important; }
.marginLeftRight5 { margin-left: 5px !important; margin-right: 5px !important; }
.marginLeftRight10 { margin-left: 10px !important; margin-right: 10px !important; }

.marginTop5 { margin-top: 5px !important; }
.marginTop10 { margin-top: 10px !important; }
.marginLeft5 { margin-left: 5px !important; }
.marginLeft10 { margin-left: 10px !important;}

.marginBottom5 { margin-bottom: 5px !important;}
.marginBottom10 { margin-bottom: 10px !important; }
.marginRight5 { margin-right: 5px !important;  }
.marginRight10 { margin-right: 10px !important; }

.imagecredits {padding:3px; border:1px dotted #666666; margin:3px 0; font-size:9px; color:#666666; width:267px; line-height:12px;}


a.noUL, a.noUL:link, a.noUL:visited {
    text-decoration: none;
}

.land ul
{
    /*list-style-type: none;*/
    /*margin-left: 50px;*/
    padding: 6px 0;
}

.land li
{
    line-height:17px;
}

/*#endregion*/

/*#region SciReg Site Main Colours (Colour A)*/
.mastersBackColor    { background-color: #00800A !important; }
.mbaBackColor        { background-color: teal !important; }
.phdBackColor        { background-color: #215F90 !important; }
.profDocBackColor        { background-color: #663333 !important; }
/*#endregion*/

/*#region SciReg Menu */
#sciregMenuOuter
{
    margin: 0 auto;
    height: 43px;
    background: #555555 url('/common/images/layout/SciregMenuBg.gif') repeat-x;
}

#sciregMenu
{
    font-family: 'century gothic',arial,helvetica,sans-serif !important;
    font-size: 12px;
    height: 43px;
    margin: 0 auto;
    text-align:center;
    min-width:1000px;
}

    #sciregMenu #sciregMenuIntro
    {
        background: url('/common/images/layout/SciregMenuOurSites.gif') no-repeat;
        display:inline-block;
        margin-top:1px;
        height: 40px;
        width:108px;
        *zoom:1;
        *display:inline;
    }

    #sciregMenu ul
    {
        display:inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0px;
        vertical-align:top;
        *zoom:1;
        *display:inline;
    }

        #sciregMenu ul li
        {
            float:left;
            height: 40px;
            margin-top:1px;
            margin-left:1px;
            line-height:43px;
            background: #555555 url('/common/images/layout/SciregMenuBg.gif') repeat-x 0 3px;
            border-style: solid;
            border-color: #999;
            border-width:0 1px;
        }

    #sciregMenu a
    {
        display: block;
        height: 43px;
        color:white !important;
        font-weight:normal;
        padding:0 10px;
    }

        #sciregMenu li a.current
        {
            background-image: url('/common/images/layout/SciregMenuArrow.gif');
            background-position:center bottom;
            background-repeat: no-repeat;
        }

    #sciregMenu li.mas
    {
        background-color: #00A651;
        width: 70px;
    }

        #sciregMenu li.mas:hover
        {
            background: #00A651;
        }

    #sciregMenu li.mba
    {
        background-color: #13A89E;
        width: 70px;
    }

        #sciregMenu li.mba:hover
        {
            background: #13A89E;
        }

    #sciregMenu li.phd
    {
        background-color: #0E76BC;
        width: 70px;
    }

        #sciregMenu li.phd:hover
        {
            background: #0E76BC;
        }

    #sciregMenu li.pro
    {
         background-color: #9A3233;
         width: 100px;
    }

        #sciregMenu li.pro:hover
        {
         background: #9A3233;
        }

    #sciregMenu li.fun
    {
         background-color: #ff6600;
         width: 100px;
    }

        #sciregMenu li.fun:hover
        {
            background: #ff6600;
        }

    #sciregMenu li.cpd
    {
         background-color: #A270B1;
         width: 150px;
    }

         #sciregMenu li.cpd:hover
        {
            background: #A270B1;
        }

    #sciregMenu li.pos
    {
         background-color: #EC2028;
         width: 100px;
    }

        #sciregMenu li.pos:hover
        {
            background: #EC2028;
        }

    #sciregMenu li.uni
    {
         background-color: #ccc;
         width: 100px;
    }

        #sciregMenu li.uni:hover
        {
            background: #ccc;
        }

    #sciregMenu li.frm
    {
         background-color: #01AEEF;
         width: 100px;
    }

        #sciregMenu li.frm:hover
        {
            background: #01AEEF;
        }

    #sciregMenu li a:hover,
    #sciregMenu li.over2lines a:hover   { background-image: url('/common/images/layout/SciregMenuArrow.gif'); background-position: center 35px; background-repeat: no-repeat; background-color: transparent; }
    #sciregMenu li.over2lines a:hover   { background-position: center 28px; }
    
    #sciregMenu li.over2lines
    {
        line-height: 13px;
        padding-top: 8px;
        height: 32px;
    }
    #sciregMenu li.over2lines a.current,
    #sciregMenu li.over2lines a:hover.current { background-position: center 28px; }

    #sciregMenu li a:hover
    {
        height: 40px;
    }

        #sciregMenu li a:hover.current
        {
            background-image: url('/common/images/layout/SciregMenuArrow.gif');
            background-position:center bottom;
            background-repeat: no-repeat;
            background-color:transparent;
            height:43px;
        }

    #sciregMenu a:link,
    #sciregMenu a:visited
    {
        color: #666;
        text-decoration: none;
        font-family: 'century gothic',arial,helvetica,sans-serif !important;
    }

/*#endregion*/


/* SciReg Header */
/*#region SciReg Header*/
#header
{
    margin: 0 auto;
    width: 100%;
    height: 120px;
    background-color: white;
    overflow: hidden;
    text-align: center;
    -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, .3);
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, .3);
}

    #header #inner
    {
        margin: 0 auto;
        width: 980px;
        height: 120px;
        padding-top:40px;
    }

        #header #inner #logo
        {
            margin: 0 auto;
            float: left;
            text-align: left;
            width: 49%;
            height: 80px;
        }

        #header #inner #banner
        {
            margin: 0 auto;
            float: right;
            text-align: right;
            width: 50%;
            height: 80px;
        }


/* SciReg LogoArea */
#header #inner #logo a img
{
    border: none;
}

/* SciReg Banner */
/*#region SciReg Banner Styles*/
#header #inner #banner a img
{
    height: 60px;
    width: 468px;
}

#banner div
{
    float: right;
}
/*#endregion*/


/* SciReg Site Menu */
/*#region SciReg SiteMenu*/
#menuTab
{
    margin: 0 auto;
    width: 100%;
    height: 28px;
    -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, .3);
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, .3);
    border-bottom: solid 0px #666;
}

/*#endregion*/

/*#endregion*/

/* SciReg Content */
/*#region SciReg Content Styles*/
/* SciReg content realm */
#realm_central
{
    /*width: 1120px;*/
    margin: 0 auto;
    margin-top: 12px;
    background-color: transparent;
    text-align:center;
    visibility:hidden;
}

/* Firefox width hack for zooming */
* > #realm_central
{
    /*width: 1122px;*/
}

#realm_central h1, #realm_central .h1,
#realm_central h2, #realm_central .h2,
#realm_central h3, #realm_central .h3,
#realm_central h4, #realm_central .h4,
#realm_central h5, #realm_central .h5,
#realm_central h6, #realm_central .h6
{
    font-family: 'century gothic',arial,helvetica,sans-serif !important;
    font-weight: normal;
    line-height: 1.2em;
}

#realm_central .archipelago_west,
#realm_central .archipelago_east,
#realm_central .archipelago_central
{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
}

#realm_central .archipelago_west,
#realm_central .archipelago_east
{
    margin-top: 18px;
    visibility: hidden;
}

    #realm_central .archipelago_west .button,
    #realm_central .archipelago_east .button
    {
        height:23px;
    }

    #realm_central,
    #header,
    #sciregMenu,
    #menuTab,
    #footerNaviContainer,
    #footerBottom { cursor:default; }

    #realm_central .archipelago_west div.island,
    #realm_central .archipelago_east div.island,
    #realm_central .archipelago_central div.island
    {
        border-radius: 10px;
        border: solid 5px #ffffff;
        /*overflow: hidden;*/
        /*background-image: url('/common/images/layout/SciregBg.png');*/
        margin-bottom: 10px;
        -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, .3);
        -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, .3);
        box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, .3);
    }

#realm_central .archipelago_central div.island {
    margin:0px 10px 10px 10px;
}
    #realm_central .archipelago_west div.land,
    #realm_central .archipelago_east div.land,
    #realm_central .archipelago_central div.land
    {
        padding: 2px;
        height:100%;
    }

    #realm_central .archipelago_west div.island div.land .expand,
    #realm_central .archipelago_east div.island div.land .expand,
    #realm_central .archipelago_central div.island div.land .expand
    {
        padding: 0 8px 0 8px;
        height: 22px;
        line-height: 22px;
        border-radius: 0 0 10px 10px;
        font-size: 11px;
        cursor: pointer;
        text-align: center;
    }

/* Westerly Archipelago's */

#realm_central .archipelago_west
{
    margin-right: 5px;
    *width:160px;
}

    #realm_central .archipelago_west div.island
    {
        width: 150px;
    }

    #realm_central .archipelago_west div.island div
    {
        background-color: #ffffff;
        margin: 0 auto;
        height: 100%;
    }

    #realm_central .archipelago_west div.island h2
    {
        font-size: 13px;
        color: white;
        font-weight: normal;
        line-height: 18px;
        text-align: center;
        margin: 5px 4px 3px 4px;
    }

    #realm_central .archipelago_west div.island h2 a
    {
        text-decoration: none;
        color: white;
        background-color: none;
    }

        #realm_central .archipelago_west div.island h2 a:hover
        {
            text-decoration: underline;
        }

    #realm_central .archipelago_west div.icon
    {
        margin-top:3px;
        position:absolute;
        z-index:100;
        width:46px;
        height:50px;
        background-color:transparent;
        background-position: left;
        background-repeat: no-repeat;
    }

    #realm_central .archipelago_west div.searchIcon
    {
        background-image: url('/common/images/icons/island_search.png');
        cursor: text;
    }

    #realm_central .archipelago_west div.newsletterIcon
    {
        /*background-image: url('/common/images/icons/island_search.png');*/
        cursor: text;
    }

    #realm_central .archipelago_west p
    {
        padding: 4px 0 6px 5px;
    }

    #realm_central .archipelago_west input
    {
        width: 90px;
        padding: 1px 5px 0 5px;
        color:#666;
        height:18px;
        line-height:18px;
    }

    #realm_central .archipelago_west div.quickSearch h2
    {
        padding-left: 35px;
    }

    #realm_central .archipelago_west div.shortlist h2
    {
        background-image: url('http://www.findanmba.com/images/listFlag1.gif');
        background-position: left;
        background-repeat: no-repeat;
        padding-left: 15px;
    }
    #realm_central .archipelago_west div.shortlist .land .sl_item a { overflow:hidden; }

    #realm_central .archipelago_west div.spotlight img
    {
        margin-bottom: 5px;
        height:140px;
        width:140px;
    }
    
    #realm_central .archipelago_west div.miniSpotlights div {
        background-color: transparent;
    }

    #realm_central .archipelago_west div.miniSpotlights img
    {
        margin-bottom: 5px;
    }

/* Easterly Archipelago's */
#realm_central .archipelago_east
{
    /*width: 130px;*/
    margin-left: 5px;
}

    #realm_central .archipelago_east div.island
    {
        min-height: 630px;
        width: 130px;
    }

        #realm_central .archipelago_east div.island h2
        {
            font-size: 13px;
            color: white;
            font-weight: normal;
            line-height: 18px;
            text-align: center;
            margin: 5px 4px 3px 4px;
        }

        #realm_central .archipelago_east div.island div
        {
            background-color: #ffffff;
            margin: 0 auto;
            height: 100%;
        }

    #realm_central .archipelago_east div.skyScraper img
    {
        margin-bottom: 5px;
        width: 120px;
        height: 600px;
    }

/* Central Archipelago's */
#realm_central .archipelago_central
{
    width: 930px;
}

    #realm_central .archipelago_central div.island h2
    {
        font-size: 1.5em;
        color: white;
        margin: 0 auto;
        padding: 5px 12px;
    }

    #realm_central .archipelago_central div.island.c1 div#main.land
    {
        min-height: 400px;
    }

    #realm_central .archipelago_central div.island div.land 
    {
        background-color: white;
        padding: 8px;
        /*overflow:hidden;*/
    }
    
        #realm_central .archipelago_central div.island div.land.contentPadding
        {
            padding: 8px 18px;
            text-align:left;
        }

          #realm_central .archipelago_central div.island div.land .contentHeader
        {
           width:100%;
        }

  #realm_central .archipelago_central div.island div.land .custompageContent
        {
            max-width: 770px;
            margin: 20px auto;
          }


        

        #realm_central .archipelago_central div.island div.land h1,
        #realm_central .archipelago_central div.island div.land .h1
        {
            font-size: 2em;
            padding: 3px 0;
            margin: 6px 0;
            text-align: inherit;
            color:gray;
        }

        #realm_central .archipelago_central div.island div.land h2,
        #realm_central .archipelago_central div.island div.land .h2
        {
            font-size: 1.5em;
            padding: 3px 0 0 0;
            margin: 3px 0 0 0;
            text-align: inherit;
            color: gray;
        }

        #realm_central .archipelago_central div.island div.land h3,
        #realm_central .archipelago_central div.island div.land .h3
        {
            font-size: 1.19em;
            padding: 3px 0 0 0;
            margin: 3px 0 0 0;
            text-align: inherit;
            color: gray;
        }

        #realm_central .archipelago_central div.island div.land h4,
        #realm_central .archipelago_central div.island div.land .h4
        {
            font-size: 1.1em;
            padding: 3px 0;
            margin: 3px 0;
            text-align: inherit;
            color: gray;
        }

        #realm_central .archipelago_central div.island div.land p
        {
            padding: 6px 0;
            line-height: 18px;
        }
                                    
        #realm_central .archipelago_central div.island div.land .territory
        {
            margin: 14px;
            border: 1px solid #999999;
            border-bottom: 1px solid #bbbbbb;
            border-right: 1px solid #bbbbbb;
            padding: 10px;
            border-radius: 5px;
            -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, .3);
            -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, .3);
            box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, .3);
        }

            #realm_central .archipelago_central div.island div.land .territory h2
            {
                padding-bottom: 5px;
            }

.dottedBorder { border-width: 1px; border-style: dotted; border-color: gray; }

h2.addRightArrowBefore,
h2.addDownArrowBefore { padding-top: 5px !important; padding-bottom: 5px !important; color:white !important; border-radius: 3px; }

h2.addRightArrowBefore:before,
h2.addDownArrowBefore:before {
    content: "►";
    display: inline-block;
    padding: 0 5px 0 8px;
    text-shadow: none;
    font-size: .7em;
    float: left;
}

.ie8 h2.addRightArrowBefore:before,
.ie8 h2.addDownArrowBefore:before { font-size:1em; }

h2.addDownArrowBefore:before {
    content: "▼" !important;
}

.pageIndex,
.sectionIndex,
.landfill { overflow: hidden; }

.shadowGradTop { 
    background: #fff url('/common/images/generic/shadowGradTop_1x17px.png'); 
    background-repeat:repeat-x;
    background-position:top;
}

.shadowGradTopLong { 
    background: #fff url('/common/images/generic/shadowGradTop_1x100px.png'); 
    background-repeat:repeat-x;
    background-position:top;
}

.shadowGradTopLongCompass1000x100 { 
    background: #fff url('/common/images/generic/shadowGradTop_1000x100pxWithCompass.png'); 
    background-repeat:repeat-x;
    background-position:top right;
}

.shadowGradTopLongCompass1000x300 { 
    background: #fff url('/common/images/generic/shadowGradTop_1000x300pxWithCompass.png'); 
    background-repeat:repeat-x;
    background-position:top right;
}

.shadowGradBottom { 
    background: #fff url('/common/images/generic/shadowGradBottom_1x17px.png'); 
    background-repeat:repeat-x;
    background-position:bottom;
}

.shadowGradBottomLong { 
    background: #fff url('/common/images/generic/shadowGradBottom_1x100px.png'); 
    background-repeat:repeat-x;
    background-position:bottom;
}

.greyGradTop { 
    background: #fff url('/common/images/generic/greyGradTop_1x17px.png'); 
    background-repeat:repeat-x;
    background-position:top;
}

.greyGradBottom { 
    background: #fff url('/common/images/generic/greyGradBottom_1x17px.png'); 
    background-repeat:repeat-x;
    background-position:bottom;
}

.orangeGradTop { 
    background: #fff url('/common/images/generic/orangeGradTop_1x17px.png'); 
    background-repeat:repeat-x;
    background-position:top;
}

.orangeGradBottom { 
    background: #fff url('/common/images/generic/orangeGradBottom_1x17px.png'); 
    background-repeat:repeat-x;
    background-position:bottom;
}

.purpleGradTop { 
    background: #fff url('/common/images/generic/purpleGradTop_1x17px.png'); 
    background-repeat:repeat-x;
    background-position:top;
}

.purpleGradBottom { 
    background: #fff url('/common/images/generic/purpleGradBottom_1x17px.png'); 
    background-repeat:repeat-x;
    background-position:bottom;
}

.blueGradTop { 
    background: #fff url('/common/images/generic/blueGradTop_1x17px.png'); 
    background-repeat:repeat-x;
    background-position:top;
}

.blueGradBottom { 
    background: #fff url('/common/images/generic/blueGradBottom_1x17px.png'); 
    background-repeat:repeat-x;
    background-position:bottom;
}

/* Layout Adjustments */
.ie9 #realm_central .archipelago_central
{
    width: 823px;
}




/* SciReg Central Archipelago Island Templates  */
/*.c1, .c2, .c23, .c3, .c34, .c4
{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-right: 5px;
    margin-left: 5px;
    min-height: 20px;
    vertical-align: top;
}*/
/*#realm_central .archipelago_central div.c1 { width: 804px; text-align: left; line-height:18px; }
.c2 { width: 390px; } .ie9 .c2 { width: 389.5px; } .ie7 .c2 { width: 390px; }
.c23 { width: 528px; } .ie9 .c23 { width: 528px; } .ie7 .c23 { width: 529px; }
.c3 { width: 252px; } .ie9 .c3 { width: 251.5px; } .ie7 .c3 { width: 254.5px; }
.c34 { width: 597px; } .ie9 .c34 { width: 596.5px; } .ie7 .c34 { width: 597.5px; }
.c4 { width: 183px; } .ie9 .c4 { width: 182.5px; } .ie7 .c4 { width: 186px; }*/

.c100 { width: 100% }
.c80 { float:left; width: 80% }
.c75 { float:left; width: 75% }
.c67 { float:left; width: 67% }
.c66 { float:left; width: 66% }
.c60 { float:left; width: 60% }
.c50 { float:left; width: 50% }
.c40 { float:left; width: 40% }
.c35 { float:left; width: 35% }
.c34 { float:left; width: 34% }
.c33 { float:left; width: 33% }
.c30 { float:left; width: 30% }
.c25 { float:left; width: 25% }
.c20 { float:left; width: 20% }
.c15 { float:left; width: 15% }
.c10 { float:left; width: 10% }

.ie7 .c100 { float:left; width: 99% }
.ie7 .c80 { float:left; width: 80% }
.ie7 .c75 { float:left; width: 75% }
.ie7 .c67 { float:left; width: 66% }
.ie7 .c66 { float:left; width: 66% }
.ie7 .c60 { float:left; width: 60% }
.ie7 .c50 { float:left; width: 49.5% }
.ie7 .c40 { float:left; width: 39% }
.ie7 .c35 { float:left; width: 34% }
.ie7 .c34 { float:left; width: 33% }
.ie7 .c33 { float:left; width: 33% }
.ie7 .c30 { float:left; width: 30% }
.ie7 .c25 { float:left; width: 24% }
.ie7 .c20 { float:left; width: 19% }
.ie7 .c15 { float:left; width: 14% }
.ie7 .c10 { float:left; width: 9.9% }

@media screen and (max-width:1081px)
{ 
    #realm_central .archipelago_central .c2 { width: 386px\9; }
}

/*#region SciReg Central Archipelago BreadCrumb Styles*/
#realm_central #breadCrumb
{
    padding: 0 5px 2px 10px;
    font-size: 10px;
    margin-bottom: 4px;
    text-align: left;
}

    #realm_central #breadCrumb div
    {
        display:inline;
        *margin-right:4px;
    }

    #realm_central #breadCrumb a
    {
        text-decoration: none;
        font-size: 10px;
    }

        #realm_central #breadCrumb a:hover
        {
            text-decoration: underline;
        }
/*#endregion*/

/*#region SciReg CLB Styles*/
#realm_central .archipelago_central div.island a.clb,a.clb { color: white; height: 16px; background: #666 url('/common/images/generic/clb-glass-1x24px.png') 50% 50% repeat-x; padding: 10px 20px; border: 1px solid #ccc; border-radius: 6px; font-size: 12px; font-weight: normal; font-family: 'Century Gothic',Arial; line-height: 16px; *display: inline-block; }
    #realm_central .archipelago_central div.island a.clb:link,a.clb:link { text-decoration: none !important; }
    #realm_central .archipelago_central div.island a.clb:hover,a.clb:hover { background: #555 url('/common/images/generic/clb-glass-1x24px.png') 50% 50% repeat-x; color: white; -moz-box-shadow: inset 3px 3px 3px 0px rgba(0, 0, 0, .3); -webkit-box-shadow: inset 3px 3px 3px 0px rgba(0, 0, 0, .3); box-shadow: inset 3px 3px 3px 0px rgba(0, 0, 0, .3); }

#realm_central .archipelago_central div.island input.clb,input.clb { color: white; min-height:25px; background: #666 url('/common/images/generic/clb-glass-1x24px.png') 50% 50% repeat-x; padding: 0px 10px; border: 1px solid #ccc; border-radius: 6px; font-size: 12px; font-weight: normal; font-family: 'Century Gothic',Arial; line-height: 28px; *line-height: 20px; *height: 20px; *display: inline-block; }
    #realm_central .archipelago_central div.island input.clb:link,input.clb:link { text-decoration: none !important; }
    #realm_central .archipelago_central div.island input.clb:hover,input.clb:hover { background: #555 url('/common/images/generic/clb-glass-1x24px.png') 50% 50% repeat-x; color: white; -moz-box-shadow: inset 3px 3px 3px 0px rgba(0, 0, 0, .3); -webkit-box-shadow: inset 3px 3px 3px 0px rgba(0, 0, 0, .3); box-shadow: inset 3px 3px 3px 0px rgba(0, 0, 0, .3); }

/*  Right icon */
#realm_central .archipelago_central div.island a.clb:after,a.clb:after, 
/* IE7 fix */
.ie7 #realm_central .archipelago_central div.island a.clb span,a.clb span               { content:"►"; display: inline-block; padding: 0 0 0 10px; text-shadow: none; }
#realm_central .archipelago_central div.island a.clb.noarrow:after,a.clb.noarrow:after,
.ie7 #realm_central .archipelago_central div.island a.clb.noarrow span,a.clb.noarrow span { content: none; }

/*  Right icon */
#realm_central .archipelago_central div.island a.clb.backarrow:after,a.clb.backarrow { content: none; padding: 0; }
#realm_central .archipelago_central div.island a.clb.backarrow:before,a.clb.backarrow:before, 
/* IE7 fix */
.ie7 #realm_central .archipelago_central div.island a.clb.backarrow span,a.clb.backarrow span               { content:"◄"; display: inline-block; padding: 0 10px 0 0; text-shadow: none; }

#realm_central .archipelago_central div.island #PageTopButtons a.clb { /*height: 8px; line-height: 8px;*/ margin-left:10px; }
#realm_central .archipelago_central div.island div.land #PageTopButtons a.clb { height: 16px; line-height: 16px; }


/* new CLB override */
#realm_central .archipelago_central div.island a.clb,a.clb {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background: #ff8000;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  transition: all 0.3s ease-out;
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.5),
    0 2px 2px rgba(0,0,0,0.3),
    0 0 4px 1px rgba(0,0,0,0.2);

  /* Font styles */
  text-decoration: none !important;
  text-shadow: none;
  height:auto;
}

#realm_central .archipelago_central div.island a.clb:link,a.clb:link { color:white; font-weight:normal; font-size:1.3em; }

#realm_central .archipelago_central div.island a.clb:hover,a.clb:hover  { background: #cc5000; }

#realm_central .archipelago_central div.island a.clb.small,a.clb.small { padding: 2px 14px; font-size:1em; margin:0px; text-shadow: none; }

.embossed-link {
  box-shadow: 
    inset 0 3px 2px rgba(255,255,255,.22), 
    inset 0 -3px 2px rgba(0,0,0,.17), 
    inset 0 20px 10px rgba(255,255,255,.12), 
    0 0 4px 1px rgba(0,0,0,.1), 
    0 3px 2px rgba(0,0,0,.2);
}

.modern.embossed-link {
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.5),
    0 2px 2px rgba(0,0,0,0.3),
    0 0 4px 1px rgba(0,0,0,0.2),
    inset 0 3px 2px rgba(255,255,255,.22), 
    inset 0 -3px 2px rgba(0,0,0,.15), 
    inset 0 20px 10px rgba(255,255,255,.12), 
    0 0 4px 1px rgba(0,0,0,.1), 
    0 3px 2px rgba(0,0,0,.2);
}

.modern.embossed-link:active {
  box-shadow: 
    inset 0 -2px 1px rgba(255,255,255,0.2),
    inset 0 3px 2px rgba(0,0,0,0.12);
}



/*#endregion*/

/*#region SciReg Footer Islands*/
.footer_island
{
    text-align: center;
    padding: 0px !important;
    padding-top: 5px !important;
    position:relative;
}

.footer_island a
{
    color:#444;
}

.footer_island_img
{
    left: 0;
    position:absolute;
    top: 0;
    width: 135px;
    text-align: left;
}

.footer_island_text
{
    text-align: center;
    color: #444;
    line-height: 20px;
    font-size: 13px;
    margin-left: 140px;
}

    .footer_island_text.postgraduateStudyFair { margin-left: 80px; }

.footer_island_clear
{
    clear: both;
}

.footer_island_bottom
{
    margin-top: 10px !important;
    background-color: gray;
    line-height: 20px;
    padding-top: 4px;
    font-weight: bold;
    color: #fff;
    font-size: 13px;
    border-radius:4px;
}
/*#endregion*/

/*#region SciReg Footer Styles*/
#footer
{
    clear: both;
    text-align: center;
    font-family: "Trebuchet MS","Arial";
    font-size: 10px;
    color: #999999;
    border-top: dotted 1px #999999;
    line-height: 14px;
    margin-right: 3px;
}

#footerBottom
{
    background: #2f2f2f url("/common/images/layout/grayBg.gif") repeat-x;
    margin:0 auto;
    margin-top:10px;
    text-align:center;
    color: #fff;
    padding: 5px 5px;
    font-size: 10px;
    /*width:850px;*/
    /*border-radius:10px 10px 0 0;*/
}

#footerBottomInner
{
    margin:0 auto; color:#999; width:940px; font-size:10px;
}

    #footerBottomInner h2
    {
        font-size:16px; padding-top:6px; font-weight:bold; line-height:20px;
    }

    #footerBottomInner .facebook
    {
        float:left; width:50px; text-align:left;
    }

    #footerBottomInner .facebook img
    {
        margin-left:8px; margin-top:4px; width:35px; height:35px;
    }

    #footerBottomInner .twitter
    {
        float:left; width:130px; text-align:left;
    }

    #footerBottomInner .twitter img
    {
        margin-top:4px; width:35px; height:35px;
    }

    #footerBottomInner .footerLogo
    {
        float:right;
    }

#footerText a
{
    display: inline-block;
    font-size: 12px;
    /*font-family: "Trebuchet MS","Arial";*/
    font-family: "'Century Gothic', Arial, Helvetica, sans-serif";
    margin: 0 auto;
    padding: 3px 10px 3px 10px;
    color: #999999;
    border: dotted 1px #999999;
    text-decoration: none;
}

    #footerText a:hover
    {
        text-decoration: underline;
    }

#footerLinks
{
    /*font-family: "Trebuchet MS","Arial";*/
    font-family: "Century Gothic", Arial, Helvetica, sans-serif;
    padding: 0.166em 0em 0.166em 0em;
    margin: 0 auto;
    line-height: 20px;
    height: 19px;
    clear:both;
}

    #footerLinks a
    {
        display: inline-block;
        font-size: 1.1em;
        /*font-family: "Trebuchet MS","Arial";*/
        font-family: "Century Gothic", Arial, Helvetica, sans-serif;
        padding: 0.25em 0 0.0833em 0;
        color: white;
        text-decoration: none;
        margin:0.5em 0.5em;
        background: #2f2f2f url("/common/images/layout/grayBg.gif") repeat-x;
        background-position-y:0px;
        border:none;
        font-weight:normal;
    }

        #footerLinks a:hover
        {
            /*background-position-y:21px;*/
        }

.ie9 #footerLinks a { margin: 0 3px; }

#footerNaviContainer
{
    width: 940px;
    margin: 0 auto;
    text-align: center;
    /*font: normal 11px 'Trebuchet MS', Arial, Helvetica, sans-serif;*/
        font: normal 11px "Century Gothic", Arial, Helvetica, sans-serif;

    padding-top:20px;
    padding-left:25px;
}

.footerNaviColumn
{
    float: left;
    text-align: left;
    width: 190px;
    overflow: hidden;
    padding: 0px 45px 0px 0px;
    line-height: 14px;
    color: #666;
}

    .footerNaviColumn h2
    {
        padding: 0 0 8px 0;
        display: block;
        margin: 0 auto;
        /*font: bold 18px 'Trebuchet MS', Arial, Helvetica, sans-serif !important;*/
          font: bold 18px "Century Gothic", Arial, Helvetica, sans-serif !important;

    }

        .footerNaviColumn h2 a
        {
            text-decoration: none;
            /* font: bold 18px 'Trebuchet MS', Arial, Helvetica, sans-serif !important; */
            font: bold 18px  "Century Gothic", Arial, Helvetica, sans-serif !important;
           
        }

.footerNaviLink
{
}
    .footerNaviLink .fbLike
    {
        text-align: left;
    }

    .footerNaviLink ul,
    .footerNaviLink li
    {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        .footerNaviLink li a
        {

        
            text-decoration: none !important;
          /*  font: normal 11px 'Trebuchet MS', Arial, Helvetica, sans-serif; */
            font: normal 11px  "Century Gothic", Arial, Helvetica, sans-serif;
            line-height: 16px;
        }

            .footerNaviLink li a:hover
            {
                text-decoration: underline !important;
            }


#footerAddress
{
    margin-top: 10px;
    color: #999;
    text-align:center;
    padding:4px 0px;
    background-color:#222;
    border-radius:6px;
    border-top: 1px solid #111;
}

    #footerAddress a
    {
        /*font: normal 10px 'Trebuchet MS', Arial, Helvetica, sans-serif;*/
        font: normal 10px "Century Gothic", Arial, Helvetica, sans-serif;
        color: #999;
        text-decoration: none !important;
    }

        #footerAddress a:hover
        {
            text-decoration: underline !important;
        }

/*#endregion*/

/*#region SciReg SideTab Styles*/
.rotate90 {
-webkit-transform: rotate(90deg); /* Safari */
-moz-transform: rotate(90deg); /* Firefox */
-ms-transform: rotate(90deg); /* IE */
-o-transform: rotate(90deg); /* Opera */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); /* Internet Explorer */
zoom:1;
}
#SurveyTab { background: #100F67; border: 1px solid #444; border-top-color: #666; font-size: 15px; color: #fc0; height: 250px; left: -172px; padding: 40px 50px 2px 25px; position: absolute; text-align: center; top: 210px; width: 100px; z-index: 99999; -moz-border-radius: 0px 16px 16px 0px; border-radius: 0px 16px 16px 0px; }
.SurveyTabShadow { -webkit-border-radius: 0px 16px 16px 0px; -moz-box-shadow: 2px 2px 8px #888; -webkit-box-shadow: 2px 2px 8px #888; box-shadow: 2px 2px 8px #888; }
#SurveyTab .tabtext { font: bold 16px 'century gothic', arial, helvetica, sans-serif; left: 28px; padding: 10px 0 18px; cursor: pointer; position: absolute; text-align: center; width: 40px; top: 112px; z-index: 100000; }
#SurveyTab .tabtext .rotate90 { width: 260px; }
#SurveyTab .tabtext span.white { color: #fff; }
#SurveyTab a.cornerButton { text-decoration: none; border: 1px solid #ccc; color: #ccc; display: block; font-size: 14px; height: 12px; line-height: 12px; cursor: pointer; position: absolute; width: 12px; top: 265px; right: 13px; }
#SurveyTab a.cornerButton:hover { background-color: #158; border-color: #fc0; color: #fc0; text-decoration: none; }
#SurveyTab a.close { line-height: 10px; }
#SurveyTab a.buttonLink { background-color: #ff0; border: 1px solid #ff0; color: #f00; display: block; font-size: 13px; font-weight: 700; margin: 28px 0px 32px; padding: 4px 2px; cursor: pointer; -moz-border-radius: 4px; border-radius: 4px; -webkit-border-radius: 4px; }
#SurveyTab a.buttonLink:link,
#SurveyTab a.buttonLink:visited { text-decoration: none; }
#SurveyTab a.buttonLink:hover { border-color: #f00; }
#SurveyTab .subtext { color: #eee; font-size: 10px; }
.SurveyTabMsie9 .tabtext { left: 28px !important; }
.SurveyTabMsie9 .tabtext .rotate90 { filter: initial !important;  }
.SurveyTabMsie8 .tabtext,
.SurveyTabMsie7 .tabtext,
.SurveyTabMsie6 .tabtext { display: none !important; }
.SurveyTabMsie8,
.SurveyTabMsie7,
/*.SurveyTabMsie6 { background: #100F67 url('/images/SurveyTabText.gif') no-repeat 148px 15px !important; }*/
/*#endregion*/

/*#region SciReg Tooltip/Info Styles*/
.tooltip,.info { outline: none !important; }
    .tooltip strong, .info strong { line-height: 30px !important; font-size:1.5em; }
    .tooltip:hover{ text-decoration: none !important; }
    .tooltip em, .info em { z-index: 100 !important; display: none; padding: 14px 20px !important; min-height:30px; width: 240px !important; line-height: 16px !important; }
    .info em { z-index: 99 !important; }
    .tooltip:hover em, .info em { display: inline; position: absolute !important; color: #fff !important; border: 5px solid #fff !important; background-color: #0f9f1b; }

.bubble .arrow { z-index: 20 !important; position: absolute !important; top: 30px !important; border: 0; background-color: transparent !important; margin: auto !important; width: 0 !important; height: 0 !important; border: 10px solid transparent; }

.bubble .bubbleClose        { background-color:#fff; padding:2px 4px !important; text-align:center !important; float:right !important; color:#00800A; text-decoration: none !important; line-height:11px !important; font-size:11px !important; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
.arrowRight .arrow  { margin-left: -8px !important; border-top-color: transparent !important; border-bottom-color: transparent !important; border-left-color: transparent !important; border-right-color: #0f9f1b; left: -12px !important; }
.arrowLeft .arrow   { margin-right: -8px !important; border-top-color: transparent !important; border-bottom-color: transparent !important; border-right-color: transparent !important; border-left-color: #0f9f1b; right: -12px !important; }
.arrowUp .arrow     { margin-bottom: -8px !important; border-top-color: transparent !important; border-right-color: transparent !important; border-left-color: transparent !important; border-bottom-color: #0f9f1b; top: -20px !important; }
.arrowDown .arrow   { margin-top: -8px !important; border-right-color: transparent !important; border-bottom-color: transparent !important; border-left-color: transparent !important; border-top-color: #0f9f1b; bottom: -20px !important; top: auto !important; }

/*CSS3 extras*/
.tooltip em,.info em { border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; -moz-box-shadow: 5px 5px 8px #CCC; -webkit-box-shadow: 5px 5px 8px #CCC; box-shadow: 5px 5px 8px #CCC; }
/*#endregion*/

.blackout { height:100%; width:100%; background-color:black; position:fixed; top:0; left:0; z-index:99999; display:none; }
.blackoutCanvas { position: relative !important; z-index: 100000 !important; }

/*#region SciReg Table Styles*/
table.TypeA  { font-family: 'Century Gothic',Arial; background-color:#efefef; width:100%; margin:0 auto; margin-top:15px; margin-bottom:15px; border:1px solid #ddd; padding:0px; border-spacing:0px; }
table.TypeA caption { background-color:#ddd; padding:10px; font-size:1.5em; }
table.TypeA thead { background-color:#777; color:white; }

table.TypeA thead th { font-weight:bold; padding:5px; font-size: 1.1em; border:1px solid #ddd; border-right:0px; border-bottom:0px; text-align:left; }
table.TypeA tbody td { font-family: Arial; font-weight:normal; padding:7px; border:1px solid #ddd; border-right:0px; border-bottom:0px; color:#333333; line-height:18px; }
table.TypeA th:first-child, table.TypeA td:first-child { border-left:0px; }
table.TypeA tr:first-child td { border-top:0px; }
table.TypeA tbody tr:nth-child(2n+1) { background-color: #fff; }
#realm_central .archipelago_central div.island div.land table.TypeA tbody td h3 { color:#666666; font-family: 'Century Gothic',Arial; font-weight:bold; font-size: 15px; margin:0; line-height:24px; }

table.TypeA td.col1 {}
table.TypeA td.col2 { text-align: center; width:100px; }

table.compact td { line-height: 20px !important; padding-left: 20px !important; }
/*#endregion*/
/*#endregion*/

/* Other Styles */
/*** ----------------------------------------------------- ***/
/*** - Inline or page level styles should be placed here - ***/
/*** ----------------------------------------------------- ***/
/*#region SciReg Other Styles*/

div.counter
{
    float: left;
    width: 16px;
    height: 24px;
    background: transparent url('../images/counter/blankCounter.gif') no-repeat;
    padding-top: 4px;
    overflow: hidden;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 14px;
    color: #cccccc;
}

.jumbo { width:180px; }

.jsonData { display: none; }

.unhighlightableText { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

#realm_central .archipelago_central div.island div.land .tick { background-image: url('/common/images/generic/list-tick.gif'); background-repeat:no-repeat; background-position:center; }

#realm_central .archipelago_central div.island #main .browseButton a { float:right; margin-left: 10px; }
#realm_central .archipelago_central div.island #main .tab .browseButton { text-align:center; }
#realm_central .archipelago_central div.island #main .tab .browseButton a { float:none; }

/* Browse-By button tweaks */
#realm_central .archipelago_central div.island a.clb.magbut { border-radius: 0px 4px 4px 0px; margin:0px; }
#realm_central .archipelago_central div.island a.clb.magbut img { position: relative; left: -2px; margin: -20px 0 -22px -29px; }

#realm_central .archipelago_central div.island .more.pointer {
display: inline-block;
padding: 0px 7px;
color: #ff8000;
font-weight: bold;
}

/*#endregion*/
/* Bespoke Styles For Pages End */


/*#region Print Friendly Styles*/
@media print {
    .archipelago_west,
    .archipelago_east,
    #sciregMenuOuter,
    #menuTab,
    #banner,
    #breadCrumb,
    #innerMenu,
    .footer_island,
    #footerNaviContainer,
    #footerBottom,
    .cookieNoticeA,
    #phMain_RightPanel,
    #PageTopButtons    
     { display: none !important; }

    body { background: #fff; }

    #realm_central .archipelago_central div.island { 
        border-radius: 0px;
        border: solid 0px #ffffff;
        overflow:visible;
        background: none;
        margin-bottom: 0px;
        -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    }
}
/*#endregion*/