html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*vertical-align: baseline;*/
}

hr
{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #D4CFCB;
    margin: 1em 0;
    padding: 0;
}

input, select
{
    vertical-align: middle;
}

body
{
    font: 12px/1.231 sans-serif;
    *font-size: small;
    font-family: sans-serif;
    cursor: default;
    padding-bottom: 0px;
}

select, input, textarea, button
{
    font: 99% sans-serif;
}

pre, code, kbd, samp
{
    font-family: monospace,sans-serif;
}

html
{
    overflow-y: scroll;
}

a:hover, a:active
{
    outline: none;
}


input[type="radio"]
{
    vertical-align: text-bottom;
}

input[type="checkbox"]
{
    vertical-align: bottom;
}

.ie7 input[type="checkbox"]
{
    vertical-align: baseline;
}

.ie6 input
{
    vertical-align: text-bottom;
}

label, input[type="button"], input[type="submit"], input[type=reset], input[type="image"], button
{
    cursor: pointer;
}

button, input, select, textarea
{
    margin: 0;
    padding: 0;
}

button, .ie7 input[type=submit], .ie7 input[type=button]
{
    width: auto;
    overflow: visible;
}

.ie7 img
{
    -ms-interpolation-mode: bicubic;
}


/*Temp style area to fix cached files*/
.jsonData { display: none; }