#siteMenu                                 { font-family: sans-serif,arial; font-weight: 400; width:992px; overflow: hidden; height:28px; overflow:visible; margin:0 auto; margin-bottom:1px; text-align:left; -webkit-text-size-adjust:none; }
#siteMenu ul                              { margin:0; padding:0px; list-style: none; }
#siteMenu ul.mainHoverMenu                { border-left: solid 0.1em white; }
#siteMenu li.menuItem                     { margin:0; height:28px; line-height:28px; display:inline-block; zoom:1; *display:inline; border-right: solid 0.1em #ffffff; font-size: 12px; cursor: pointer; text-align:center; }
#siteMenu li.menuItem a                   { text-decoration:none; zoom:1; white-space: nowrap; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; }

#siteMenu .subMenu                        { visibility: hidden; min-width:550px; height:300px; position:absolute; background-color:white; z-index:10000; text-align:left; line-height:17px; overflow: hidden;  border:solid 2px #dddddd; border-top-width:0px; 
                                                     -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, .3);
                                                  -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, .3);
                                                          box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, .3);
                                                  -moz-border-radius: 0 0 15px 15px;
	                                           -webkit-border-radius: 0 0 15px 15px;
	                                                   border-radius: 0 0 15px 15px;                                                   
                                           }
#siteMenu .visible                         { visibility: visible; }
#siteMenu .subMenu .subMenuHeading         { padding-top: 5px; margin-bottom: 5px; line-height: 18px;  overflow:hidden; }
#siteMenu .subMenu .subMenuHeading a       { display: block; font-family: 'Century Gothic',arial; font-size:1.2em; font-weight:bold; text-decoration: underline; white-space: normal; }
#siteMenu .subMenu .subMenuItem            { }
#siteMenu .subMenu .subMenuItem a          { font-size:12px; color:#666; display:block; padding-bottom:6px; white-space: normal; }
#siteMenu .subMenu .subMenuItem a:hover    { text-decoration: underline; }
#siteMenu .subMenu .subMenuSep             { height:16px; overflow:hidden; }
#siteMenu .subMenu .subMenuItem .bold      { font-weight: bold; }
#siteMenu .subMenu .subMenuItem .viewAll   { color:gray; font-weight: bold; }
#siteMenu .col1,
#siteMenu .col2,
#siteMenu .col3                            { position:absolute; padding:10px; height:100%; min-width:275px; line-height:17px; max-width:300px; cursor: default; *padding:0px; *padding-top:0px; *width:300px; 
                                                  -moz-border-radius: 0 0 15px 15px;
	                                           -webkit-border-radius: 0 0 15px 15px;
	                                                   border-radius: 0 0 15px 15px; 
                                           }
#siteMenu .col1                            { z-index:10001; }
#siteMenu .col2                            { z-index:10002; }
#siteMenu .col3                            { z-index:10003; }

/*  Top level tabs drop down icon */
#siteMenu .hasMenu:after, 
/* IE7 fix */
.ie7 #siteMenu .hasMenu span               { content:"▼"; display: inline-block; padding: 0 0 0 10px; text-shadow: none; }

a.country_selector {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    *margin-top:3px;
    width: 14px;
    height: 14px; 
    word-spacing: -1em;
}

a.country_selector li {
    width: 100%;
    height: 100%;
}
    a.country_selector span {
        display:block;
        height: 14px; 
        margin-top:4px;
        overflow: hidden;
        background: url("/common/images/flags/smallSquareFlagsSprite.png") no-repeat 0px 0px;
    }

.country_selector .en { background-position: 0px 4px; }
.country_selector .fr { background-position: -16px 4px; }
.country_selector .de { background-position: -32px 4px; }
.country_selector .es { background-position: -48px 4px; }
.country_selector .it { background-position: -64px 4px; }
.country_selector .cn { background-position: -80px 4px; }


    
/*#region SectionMenu*/
#level1_All
{
    display: none;
}

    #level1_Major a, #level1_All a
    {
        display: block;
        color: #333;
        margin: 0 auto;
        line-height: 20px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        padding: 6px 10px;
        line-height: 15px;
        text-decoration: none;
    }

    ul#level1_Major 
    {
        list-style-type:none;
        margin:0;
        padding:0px;
    }
/*#endregion SectionMenu*/

/*#region SectionIndex*/
#level1_Index {
    /*display: block;*/
    margin: 0 auto;
    text-align: left;
    padding: 20px 30px 20px 30px;
    color: #444;
}

    #level1_Index h2 a {
        color: inherit;
    }

    #level1_Index h2 a {
        text-decoration: none;
    }

        #level1_Index h2 a:hover {
            text-decoration: underline;
            color: inherit;
        }

ul#level1_Index {
    list-style-type: none;
}

    ul#level1_Index li {
        padding-bottom: 5px;
    }

      ul#level1_Index li div {
        padding-top: 5px;
    }
/*#endregion SectionIndex*/

/*#region InnerMenu*/
#innerMenu
{
    padding: 5px 5px 0px 5px;
    vertical-align: bottom;
    -webkit-text-size-adjust:none;
}

    #innerMenu ul:nth-child(5)
    {
        display: none;
    }

    #innerMenu ul#level2_Major 
    {
        margin: 0;
    }
    #innerMenu #level2_Major li,
    #innerMenu #level2_More
    {
        margin: 1px 1px 0 1px;
        padding: 0 8px 0 8px;
        height: 22px;
        list-style-type: none;
        margin-top: 6px;
        line-height: 22px;
        float: left;
        font-size: 11px;
        cursor: pointer;
        text-align: center;
        border-radius: 5px 5px 0 0;
    }

    #innerMenu a,
    #innerSubMenu a
    {
        text-decoration: none;
        display: block;
    }

    #innerMenu #level2_Major li:hover
    {
        height: 28px; /*line-height:28px;*/
        margin-top: 0px;
    }

    #innerMenu #level2_Major .active
    {
        background-color: #fff;
        border-bottom: none;
        margin-top: 0px;
        padding-bottom: 0px;
        height: 29px !important;
        line-height: 29px;
    }

    #innerMenu #level2_Major .withSub
    {
        background-color: #eee;
    }

    #innerMenu #level2_More
    {
        float: left;
        border-color: #ccc;
    }

    #innerMenu #level2_Xtra
    {
        width: 200px;
        list-style-type: none;
        border: 1px solid white;
        margin:0px;
        text-align:left;
    }

        #innerMenu #level2_Xtra a
        {
            display: block;
            margin: 0 auto;
            line-height: 18px;
            padding: 5px 10px;
            font-size: 12px;
            color: #333;
            border-bottom: 1px solid #fff;
        }

            #innerMenu #level2_Xtra a:hover
            {
                font-size: 12px;
                display: block;
                margin: 0 auto;
                line-height: 18px;
                padding: 5px 10px;
            }

    #innerMenu #more_Container
    {
        display: none;
        position: absolute;
        z-index: 1;
        -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, .3);
        -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, .3);
        box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, .3);
    }

    #innerMenu #level2_More:after,
    /* IE7 fix */
    .ie7 #innerMenu #level2_More span
    {
        content: "▼";
        display: inline-block;
        padding: 0 0 0 5px;
        text-shadow: none;
    }

    #innerMenu #level2_More.More_Hide:after,
    /* IE7 fix */
    .ie7 #innerMenu #level2_More.More_Hide span
    {
        content: "▲";
    }
/*#endregion InnerMenu*/

/*#region InnerSubMenu*/
#realm_central .archipelago_central div.island div#innerSubMenu.land
{
    text-align: left;
    background-color:#eee;
    margin:0 auto;
    color:gray;
    border-bottom:1px solid #ccc;
    padding:9px 8px 0px 8px;
}

.tab        { display: none; }
#mainTab    { display: block; }

#innerSubMenu
{
    -webkit-text-size-adjust:none;
}
#innerSubMenu ul
{
    list-style-type: none;
    padding:0px;
    margin:0 0 0 5px;
    height: 29px;
}
#innerSubMenu li
{
        border:1px solid #ccc;
        background-color: #ddd;
        font-weight: normal;
        color:#999;        
        margin: 1px 1px 0 5px;
        
        height: 22px;
        list-style-type: none;
        margin-top: 6px;
        line-height: 22px;
        float: left;
        font-size: 11px;
        cursor: pointer;
        text-align: center;
        border-radius: 5px 5px 0 0;
        border-bottom: 1px solid #ccc;
}
    #innerSubMenu .active
    {
        border-bottom:3px solid #fff;
        background-color: #fff;
    }
    #innerSubMenu li a
    {
        text-decoration:none;
        font-size: 11px;
        padding: 0 8px 0 8px;
    }
    
    #innerSubMenu li:hover
    {
        background-color:#fff;
    }

/*#endregion InnerMenu*/